<html>
  <head>

    <title>Countries</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/theme/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tree/home/countries/style.css') }}">

  </head>
  <body>
    {% extends "tree/theme.html" %}
    {% block content %}

      <script src="{{ url_for('static', filename='tree/home/countries/script.mjs') }}" type="module"></script>

      <div id="body">

        <h1 id="title">Countries</h1>

        <div id="alphabet">

          <p id="all">All</p>

          <p id="a">A</p>
          <p id="b">B</p>
          <p id="c">C</p>
          <p id="d">D</p>
          <p id="e">E</p>
          <p id="f">F</p>
          <p id="g">G</p>
          <p id="h">H</p>
          <p id="i">I</p>
          <p id="j">J</p>
          <p id="k">K</p>
          <p id="l">L</p>
          <p id="m">M</p>
          <p id="n">N</p>
          <p id="o">O</p>
          <p id="p">P</p>
          <p id="q">Q</p>
          <p id="r">R</p>
          <p id="s">S</p>
          <p id="t">T</p>
          <p id="u">U</p>
          <p id="v">V</p>
          <p id="w">W</p>
          <p id="x">X</p>
          <p id="y">Y</p>
          <p id="z">Z</p>

        </div>

      </div>

    {% endblock %}
  </body>
</html>
