@import "../../../libs/sass/panels/all.sass"

#countries.panel

  visibility: visible

  top: 100px
  left: 100px

  width: calc(100% - 200px)

  #name

    text-align: center

  #alphabet

    margin: 10px

    p

      margin: 5px

      float: left

    p:hover

      cursor: pointer

#menu.panel

  z-index: 1
