<!DOCTYPE html>
<html>
  <head>
    <title>IGraph</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
