@import "../libs/sass/colors.sass"
@import "../libs/sass/fonts.sass"

*

  margin: 0px
  box-sizing: border-box

::-webkit-scrollbar

  display: none

body

  background-color: $white
  font-family: ubuntu
