@import "../libs/sass/colors/solid.sass"

*

  margin: 0px
  box-sizing: border-box

::-webkit-scrollbar

  display: none

body

  font-family: ubuntu
  background-color: $white

#forkme

  top: 0px
  right: 0px
  z-index: 1
  position: fixed
