<html>
  <head>

    <meta charset="utf-8" lang="en" dir="ltr">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/theme/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tree/theme.css') }}">

    <script src="{{ url_for('static', filename='libs/mjs/vendor/sha256.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/mjs/vendor/socket.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/mjs/vendor/jQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/mjs/vendor/jQueryUI.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/mjs/vendor/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/mjs/vendor/three.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/mjs/vendor/math.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/mjs/vendor/tools.js') }}"></script>

  </head>
  <body oncontextmenu="return false">

    <script>

      const socket = io()

      const data = {{ data | tojson | safe }}

    </script>

    <script src="{{ url_for('static', filename='tree/theme.mjs') }}" type="module"></script>

    <div id="nav">

      <img id="menu" src="{{ url_for('static', filename='imgs/theme/menu.png') }}">

      <a href="/poly3"><h1 id="poly3">Poly3</h1></a>

      <a href="/poly2"><h1 id="poly2">Poly2</h1></a>

      <a href="/map"><h1 id="map">Map</h1></a>

    </div>

    {% if not "client" in data %}

      <a href="https://github.com/jgphilpott/polyplot">

        <img id="forkme" src="{{ url_for('static', filename='imgs/theme/forkme/right/red.png') }}">

      </a>

    {% endif %}

    {% block content %}
    {% endblock %}

  </body>
</html>