<html>
  <head>

    <title>{{ data.plot.plots.name | safe }}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/theme/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tree/home/countries/country/style.css') }}">

  </head>
  <body>
    {% extends "tree/theme.html" %}
    {% block content %}

      <script src="{{ url_for('static', filename='tree/home/countries/country/script.mjs') }}" type="module"></script>

    {% endblock %}
  </body>
</html>