@import "../../../../libs/sass/panels/all.sass"

@import "../../../../libs/sass/tools/textbox.sass"
@import "../../../../libs/sass/tools/timebar.sass"

#country.panel

  visibility: visible

  top: 100px
  left: 100px

  width: calc(100% - 200px)

  border: 2px solid $black

  #name

    margin: 12px
    font-size: 28px

    text-align: center

  #api

    position: absolute

    top: 15px
    left: 15px

    width: 30px
    height: 30px

  #wiki

    position: absolute

    top: 15px
    left: 60px

    width: 30px
    height: 30px

  #visibility

    position: absolute

    top: 14px
    left: 105px

    width: 44px
    height: 34px

  #api:hover,
  #wiki:hover,
  #visibility:hover

    cursor: pointer

  #flag

    margin: 25px

    width: 325px
    height: 195px

  #mini-map

    float: right

    margin-right: 56px

    top: 0px
    right: 0px

    width: 300px
    height: 300px

  #mini-map:hover

    cursor: grab

  h1

    font-size: 24px

    text-align: center

  p

    font-size: 18px

  p.stat

    margin-left: 25px
    margin-right: 25px

  .category-box

    margin: 12px
    padding: 5px

    .category-head

      display: flex
      align-items: center

      .category-icon

        margin: 8px

        width: 28px
        height: 28px

      .category-fold

        margin: 5px

        width: 10px
        height: 15px

      .category-icon:hover,
      .category-fold:hover

        cursor: pointer

      .category-name

        margin: 5px

        font-size: 20px

    .indicators-box

      display: none

      padding-left: 60px
      padding-right: 25px

      .indicator-box

        display: inline-flex
        align-items: center

        -webkit-column-break-inside: avoid
        page-break-inside: avoid
        break-inside: avoid

        margin: 10px
        width: 100%

        .indicator-completeness

          margin: 5px

          width: 28px
          height: 28px

        .indicator-name

          margin: 5px

          width: 40%
          font-size: 18px

        .indicator-name span:hover

          cursor: pointer
          font-weight: bold

        .indicator-value

          margin: auto

        .indicator-link

          margin: 5px

          width: 28px
          height: 28px

      .indicator-box:hover

        background-color: $gray-glass

#menu.panel

  z-index: 1
