@import "../../../../libs/sass/panels/all.sass"

#country.panel

  visibility: visible

  top: 100px
  left: 100px

  width: calc(100% - 200px)

  #name

    text-align: center

  .flag

    float: left

    margin: 10px

  #miniMap

    position: absolute

    margin: 40px

    top: 0px
    right: 0px

    width: 400px
    height: 400px

#menu.panel

  z-index: 1
