@import "../../../../libs/sass/panels/all.sass"

#country.panel

  visibility: visible

  top: 100px
  left: 100px

  width: calc(100% - 200px)

  #name

    text-align: center

  .flag

    float: left

    margin: 10px

#menu.panel

  z-index: 1
