@import "../../../libs/sass/panels/error.sass"

#error.panel

  position: absolute
  visibility: visible

  top: 25%
  left: 50%

  transform: translateX(-50%)

#canvas

  display: block
  margin: auto

  width: 100%
  height: 100%
