<html>
  <head>

    <title>Three</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/icons/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tree/home/three/style.css') }}">

  </head>
  <body>
    {% extends "tree/theme.html" %}
    {% block content %}

      <div id="legend" class="panel">
        <h1>Legend</h1>
        <p><strong>R:</strong> Index Name</p>
        <p><strong>X:</strong> Index Name</p>
        <p><strong>Y:</strong> Index Name</p>
        <p><strong>Z:</strong> Index Name</p>
      </div>

      <div id="metabox" class="panel">
        <h1>Meta</h1>
        <p><strong>Name:</strong> None</p>
        <p><strong>X Index:</strong> None</p>
        <p><strong>Y Index:</strong> None</p>
        <p><strong>Z Index:</strong> None</p>
      </div>

      <script src="{{ url_for('static', filename='libs/js/vendor/three.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/js/vendor/orbitControls.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/js/vendor/threeX.js') }}"></script>

      <script src="{{ url_for('static', filename='libs/js/colors.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/js/environment.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/js/essentials.js') }}"></script>

      <script src="{{ url_for('static', filename='libs/js/lights.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/js/camera.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/js/controls.js') }}"></script>

      <script src="{{ url_for('static', filename='libs/js/materials.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/js/geometries.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/js/scale.js') }}"></script>

      <script src="{{ url_for('static', filename='libs/js/ui.js') }}"></script>

      <script src="{{ url_for('static', filename='tree/home/three/script.js') }}"></script>

    {% endblock %}
  </body>
</html>
