<html>
  <head>

    <title>Three</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/icons/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tree/home/three/style.css') }}">

    <script src="{{ url_for('static', filename='libs/mjs/vendor/three.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/mjs/vendor/orbitControls.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/mjs/vendor/threeX.js') }}"></script>

  </head>
  <body>
    {% extends "tree/theme.html" %}
    {% block content %}

      <script src="{{ url_for('static', filename='tree/home/three/script.mjs') }}" type="module"></script>

      <div id="start"></div>

      <div id="time" class="panel">
        <h1>Time</h1>
      </div>

      <div id="menu" class="panel">
        <h1>Menu</h1>
      </div>

      <div id="legend" class="panel">
        <h1>Legend</h1>
        <p><strong>R:</strong> Index Name</p>
        <p><strong>X:</strong> Index Name</p>
        <p><strong>Y:</strong> Index Name</p>
        <p><strong>Z:</strong> Index Name</p>
      </div>

      <div id="map" class="panel">
        <h1>Map</h1>
      </div>

      <div id="meta" class="panel">
        <h1 id="meta-name">No Name</h1>
        <img id="meta-flag" src="{{ url_for('static', filename='imgs/flags/None.png') }}">
        <h3 id="meta-region">No Region</h3>
        <p><strong>R:</strong> <span id="meta-r">None</span></p>
        <p><strong>X:</strong> <span id="meta-x">None</span></p>
        <p><strong>Y:</strong> <span id="meta-y">None</span></p>
        <p><strong>Z:</strong> <span id="meta-z">None</span></p>
      </div>

      <script src="{{ url_for('static', filename='libs/js/colors/three.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/js/colors/switches.js') }}"></script>

      <script src="{{ url_for('static', filename='libs/js/time/variables.js') }}"></script>

      <script src="{{ url_for('static', filename='libs/js/environment/browser.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/js/environment/dimensions.js') }}"></script>

      <script src="{{ url_for('static', filename='libs/js/essentials.js') }}"></script>

      <script src="{{ url_for('static', filename='libs/js/lights/ambient.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/js/lights/point.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/js/lights/spot.js') }}"></script>

      <script src="{{ url_for('static', filename='libs/js/cameras/perspective.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/js/controls/orbit.js') }}"></script>

      <script src="{{ url_for('static', filename='libs/js/materials.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/js/geometries.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/js/scale.js') }}"></script>

      <script src="{{ url_for('static', filename='libs/js/ui/threeX/events.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/js/ui/panels/legend.js') }}"></script>
      <script src="{{ url_for('static', filename='libs/js/ui/panels/meta.js') }}"></script>

    {% endblock %}
  </body>
</html>
