@import "../../../libs/sass/panels/start.sass"
@import "../../../libs/sass/panels/time.sass"
@import "../../../libs/sass/panels/menu.sass"
@import "../../../libs/sass/panels/legend.sass"
@import "../../../libs/sass/panels/map.sass"
@import "../../../libs/sass/panels/meta.sass"

#start

  position: absolute
  visibility: hidden

  top: 0px
  left: 0px

#time

  position: absolute
  visibility: hidden

  top: 10px
  left: 50%

  transform: translateX(-50%)

#menu

  position: absolute
  visibility: hidden

  top: 50%
  left: 50%

  transform: translateX(-50%)

#legend

  position: absolute
  visibility: visible

  bottom: 10px
  left: 10px

#map

  position: absolute
  visibility: hidden

  bottom: 10px
  left: 50%

  transform: translateX(-50%)

#meta

  position: absolute
  visibility: visible

  bottom: 10px
  right: 10px
