<html>
  <head>

    <title>Poly3</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/icons/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tree/home/poly3/style.css') }}">

    <script src="{{ url_for('static', filename='libs/mjs/vendor/three.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/mjs/vendor/threeX.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/mjs/vendor/orbitControls.js') }}"></script>

  </head>
  <body>
    {% extends "tree/theme.html" %}
    {% block content %}

      <script src="{{ url_for('static', filename='tree/home/poly3/script.mjs') }}" type="module"></script>

      <div id="time" class="panel">

        <h1 id="name">Time</h1>

      </div>

      <div id="settings" class="panel">

        <h1 id="name">Settings</h1>

      </div>

      <div id="legend" class="panel">

        <h1 id="name">Legend</h1>

        <p id="r"><strong id="r-key">R:</strong> <span id="r-data">None</span></p>
        <p id="x"><strong id="x-key">X:</strong> <span id="x-data">None</span></p>
        <p id="y"><strong id="y-key">Y:</strong> <span id="y-data">None</span></p>
        <p id="z"><strong id="z-key">Z:</strong> <span id="z-data">None</span></p>

      </div>

      <div id="map" class="panel">

        <h1 id="name">Map</h1>

      </div>

      <div id="meta" class="panel">

        <h1 id="name">Meta</h1>

        <img id="flag" src="{{ url_for('static', filename='imgs/flags/None.png') }}">

        <h3 id="region">None</h3>

        <p id="r"><strong id="r-key">R:</strong> <span id="r-data">None</span></p>
        <p id="x"><strong id="x-key">X:</strong> <span id="x-data">None</span></p>
        <p id="y"><strong id="y-key">Y:</strong> <span id="y-data">None</span></p>
        <p id="z"><strong id="z-key">Z:</strong> <span id="z-data">None</span></p>

      </div>

    {% endblock %}
  </body>
</html>
