<html>
  <head>

    <title>Poly3</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/theme/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tree/home/poly3/style.css') }}">

    <script src="{{ url_for('static', filename='libs/mjs/vendor/threeX.js') }}"></script>

  </head>
  <body>
    {% extends "tree/theme.jinja" %}
    {% block content %}

      <script src="{{ url_for('static', filename='tree/home/poly3/script.mjs') }}" type="module"></script>

    {% endblock %}
  </body>
</html>