<html>
  <head>

    <title>Poly3</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/icons/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tree/home/poly3/style.css') }}">

    <script src="{{ url_for('static', filename='libs/mjs/vendor/three.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/mjs/vendor/threeX.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/mjs/vendor/orbitControls.js') }}"></script>

  </head>
  <body>
    {% extends "tree/theme.html" %}
    {% block content %}

      <script src="{{ url_for('static', filename='tree/home/poly3/script.mjs') }}" type="module"></script>

      <div id="time" class="panel">

        <h1>Time</h1>

      </div>

      <div id="settings" class="panel">

        <h1>Settings</h1>

      </div>

      <div id="legend" class="panel">

        <h1>Legend</h1>

        <p><strong>R:</strong> Indicator Name</p>
        <p><strong>X:</strong> Indicator Name</p>
        <p><strong>Y:</strong> Indicator Name</p>
        <p><strong>Z:</strong> Indicator Name</p>

      </div>

      <div id="map" class="panel">

        <h1>Map</h1>

      </div>

      <div id="meta" class="panel">

        <h1 id="name">Meta</h1>

        <img id="flag" src="{{ url_for('static', filename='imgs/flags/None.png') }}">

        <h3 id="region">None</h3>

        <p><strong>R:</strong> <span id="r">None</span></p>
        <p><strong>X:</strong> <span id="x">None</span></p>
        <p><strong>Y:</strong> <span id="y">None</span></p>
        <p><strong>Z:</strong> <span id="z">None</span></p>

      </div>

    {% endblock %}
  </body>
</html>
