<html>
  <head>

    <title>iGraph</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tree/home/style.css') }}">

  </head>
  <body>
    {% extends "tree/theme.html" %}
    {% block content %}

      <h1>iGraph</h1>

      <p>A data visualization application inspired by Hans Rosling's 'Trendalyzer' software.</p>

      <script src="{{ url_for('static', filename='tree/home/script.js') }}"></script>

    {% endblock %}
  </body>
</html>
