<html>
  <head>

    <title>Home</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/icons/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tree/home/style.css') }}">

  </head>
  <body>
    {% extends "tree/theme.html" %}
    {% block content %}

      <canvas id="canvas"></canvas>

      <script src="{{ url_for('static', filename='libs/js/colors/standard.js') }}"></script>
      <script src="{{ url_for('static', filename='tree/home/script.js') }}"></script>

    {% endblock %}
  </body>
</html>
