<html>
  <head>

    <title>Home</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/icons/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tree/home/style.css') }}">

    <script src="{{ url_for('static', filename='libs/mjs/vendor/particleWeb.js') }}"></script>

  </head>
  <body>
    {% extends "tree/theme.html" %}
    {% block content %}

      <script src="{{ url_for('static', filename='tree/home/script.mjs') }}" type="module"></script>

      <div id="home" class="panel">

        <img id="home-logo" src="{{ url_for('static', filename='imgs/icons/logo.png') }}">

        <h1 id="home-title">Polyplot</h1>

        <p id="home-description">A data visualization application inspired by <a href="https://github.com/olarosling">Ola Rosling</a>'s <a href="https://en.wikipedia.org/wiki/Trendalyzer">Trendalyzer</a> software.</p>

        <iframe id="home-video" src="https://www.youtube.com/embed/placeholder" allowfullscreen></iframe>

      </div>

      <canvas id="canvas"></canvas>

    {% endblock %}
  </body>
</html>
