<html>
  <head>

    <title>Poly2</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/icons/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tree/home/poly2/style.css') }}">

    <script src="{{ url_for('static', filename='libs/mjs/vendor/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/mjs/vendor/three.js') }}"></script>
    <script src="{{ url_for('static', filename='tree/home/poly2/script.mjs') }}" type="module"></script>

  </head>
  <body>

    {% extends "tree/theme.html" %}
    {% block content %}
    {% endblock %}

  </body>
</html>
