@import "../../../libs/sass/colors/solid/grayscale.sass"

@import "../../../libs/sass/panels/legend.sass"
@import "../../../libs/sass/panels/map.sass"
@import "../../../libs/sass/panels/menu.sass"
@import "../../../libs/sass/panels/meta.sass"
@import "../../../libs/sass/panels/time.sass"
@import "../../../libs/sass/panels/title.sass"

.gridline

  color: $grey

.plot

  stroke: black
  stroke-width: 1
