@import "../../../libs/sass/panels/title.sass"
@import "../../../libs/sass/panels/time.sass"

#title.panel

  position: fixed
  visibility: visible

  top: 10px
  left: 50%

  transform: translate(-50%, 0%)

#time.panel

  position: fixed
  visibility: visible

  top: calc(100% - 10px)
  left: 50%

  transform: translate(-50%, -100%)
