*
  margin: 0px
  box-sizing: border-box
  overflow: hidden

// .menu-zone::-webkit-scrollbar
//   width: 1em
//
// .menu-zone::-webkit-scrollbar-track
//   background: lightgrey
//
// .menu-zone::-webkit-scrollbar-thumb
//   background-color: grey

.graph-title,
.date-range,
.current-year-label,
.country-circle-name,
.country-circle-name-temp,
.country-circle-x,
.country-circle-x-temp,
.country-circle-y,
.country-circle-y-temp,
.menu-label
  text-anchor: middle
  font-family: arial
  font-size: 20px

.graph-title
  font-weight: bold

.axis-label
  text-anchor: middle
  font-family: arial

.current-year-label,
.country-circle-name,
.country-circle-name-temp,
.country-circle-x,
.country-circle-x-temp,
.country-circle-y,
.country-circle-y-temp
  font-size: 15px

.menu-title,
.menu-text,
.menu-no-data-text
  font-family: arial
  font-size: 15px

.menu-text,
.menu-no-data-text
  font-size: 12px

.menu-no-data-text
  fill: grey

.menu-label
  font-size: 10px

.axis
  path
    stroke: grey
    stroke-width: 2px

  line
    stroke: grey
    stroke-width: 1px

  text
    font-size: 15px
    font-family: arial

.grid
  line
    stroke: lightgrey
    stroke-width: 1px

  path
    stroke-width: 0px

.country-circle
  stroke: #000
  stroke-width: 1.25px

.time-controls
  line
    stroke: lightgrey
    stroke-width: 5px
    stroke-linecap: round

  path
    stroke: grey
    stroke-width: 1px
    fill: grey

  #play-forward,
  #play-backward
    stroke: #009634
    fill: #009634

  #pause-one,
  #pause-two
    stroke: #E03621
    fill: #E03621
    visibility: hidden

  #pause-one-background,
  #pause-two-background
    visibility: hidden

  #fast-forward,
  #fast-forward-arrow-one,
  #fast-forward-arrow-two,
  #fast-backward,
  #fast-backward-arrow-one,
  #fast-backward-arrow-two
    stroke: #009AC2
    fill: #009AC2

  #skip-backward,
  #skip-forward
    stroke: #FF9735
    fill: #FF9735

  circle
    fill: white

.menu-zone
  position: relative
  float: right
  overflow-y: scroll

.menu

  rect
    stroke: grey
    stroke-width: 0
    fill: lightgrey

  .nav-icon-background
    stroke: lightgrey
    stroke-width: 1
    fill: lightgrey

  .colour-legend
    stroke: grey
    stroke-width: 1
    rx: 20
    ry: 20

  .checkbox-checked-background,
  .sub-checkbox-checked-background,
  .folder-plus-background
    stroke: #B1D3B9
    stroke-width: 1
    fill: #B1D3B9

  .checkbox-unchecked-background,
  .sub-checkbox-unchecked-background
    stroke: #D3D3D3
    stroke-width: 1
    fill: #D3D3D3

  .folder-minus-background
    stroke: #D3B5B1
    stroke-width: 1
    fill: #D3B5B1

  path,
  .icon-one-icon,
  .icon-five-icon
    stroke: grey
    stroke-width: 0.3
    fill: grey

  .icon-one-icon
    fill: #3168C5

  .icon-five-icon
    fill: #9D0893
