*
  margin: 0px
  box-sizing: border-box

.axis
  path
    stroke: grey
    stroke-width: 2px
    stroke-opacity: 1

  line
    stroke: grey
    stroke-width: 1px
    stroke-opacity: 0.7

  text
    font-size: 14px
    font-family: arial

.axis-label,
.graph-title,
.date-range
  text-anchor: middle
  font-family: arial
  font-size: 20px

.graph-title
  font-weight: bold

.grid
  line
    stroke: lightgrey
    stroke-width: 1px
    stroke-opacity: 0.7

  path
    stroke-width: 0

.countryCircle
  stroke: #000
  stroke-width: 1.5px

.mouseGuide
  stroke: black
  stroke-width: 1px
  stroke-opacity: 0.7
