@import "../../../../libs/sass/panels/all.sass"

@import "../../../../libs/sass/tools/alphabet.sass"
@import "../../../../libs/sass/tools/lineplot.sass"
@import "../../../../libs/sass/tools/textbox.sass"
@import "../../../../libs/sass/tools/timebar.sass"

#indicator.panel

  visibility: visible

  top: 100px
  left: 100px

  width: calc(100% - 200px)

  border: 2px solid $black

  #name

    margin: 12px
    font-size: 28px

    text-align: center

  #api

    position: absolute

    top: 15px
    left: 15px

    width: 30px
    height: 30px

  #link

    position: absolute

    top: 15px
    left: 60px

    width: 30px
    height: 30px

  #visibility

    position: absolute

    top: 14px
    left: 105px

    width: 44px
    height: 34px

  #api:hover,
  #link:hover,
  #visibility:hover

    cursor: pointer

  #stats-box, #categories-box

    width: 50%

    padding: 25px

    display: inline-block
    vertical-align: top

    #completeness

      margin-right: 25px

      width: 150px
      height: 150px

      float: left

    .category-box

      display: flex
      align-items: center

      .category-icon

        margin: 8px

        width: 28px
        height: 28px

    h2

      margin: 10px
      font-size: 24px

      text-align: center

    p

      margin: 8px
      font-size: 18px

  h1

    font-size: 24px

    text-align: center

  p

    font-size: 18px

  .region-box

    margin: 12px
    margin-left: 28px

    padding: 5px

    .region-head

      display: flex
      align-items: center

      .region-fold

        margin: 5px

        width: 10px
        height: 15px

      .region-fold:hover

        cursor: pointer

      .region-name

        margin: 5px

        font-size: 20px

      .region-visibility

        margin: 5px

        width: 25px
        height: 20px

      .region-visibility:hover

        cursor: pointer

    .countries-box

      padding-left: 16px
      padding-right: 25px

      .country-box

        display: inline-flex
        align-items: center

        -webkit-column-break-inside: avoid
        page-break-inside: avoid
        break-inside: avoid

        margin: 10px
        width: 100%

        .country-visibility

          margin: 5px

          width: 22px
          height: 17px

        .country-visibility:hover

          cursor: pointer

        .country-completeness

          margin: 5px

          width: 28px
          height: 28px

        .country-name

          margin: 5px

          width: 40%
          font-size: 18px

        .country-name span:hover

          cursor: pointer
          font-weight: bold

        .country-value

          margin: auto

        .country-wiki

          margin: 5px

          width: 28px
          height: 28px

      .country-box:hover

        background-color: $gray-glass

#menu.panel

  z-index: 1
